<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>sunbase_data</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.sunbase.login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>glist</display-name>
    <servlet-name>glist</servlet-name>
    <servlet-class>com.sunbase.list.glist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>glist</servlet-name>
    <url-pattern>/glist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>del</display-name>
    <servlet-name>del</servlet-name>
    <servlet-class>com.sunbase.login.del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>del</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.sunbase.login.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVal</display-name>
    <servlet-name>EditVal</servlet-name>
    <servlet-class>com.sunbase.login.EditVal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVal</servlet-name>
    <url-pattern>/EditVal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCust</display-name>
    <servlet-name>addCust</servlet-name>
    <servlet-class>com.sunbase.login.addCust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCust</servlet-name>
    <url-pattern>/addCust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCust</display-name>
    <servlet-name>NewCust</servlet-name>
    <servlet-class>com.sunbase.login.NewCust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCust</servlet-name>
    <url-pattern>/NewCust</url-pattern>
  </servlet-mapping>
</web-app>